{% extends 'base.html' %}
{% load static %}
<!-- Home -->

{% block content %}
<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll"
         data-image-src="{% static 'website/images/contact.jpg' %}"
         data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_container">
                    <div class="home_content d-flex flex-row align-items-center justify-content-start">
                        <div class="home_title">Contact</div>
                        <div class="home_breadcrumbs ml-auto">
                            <ul class="breadcrumbs">
                                <li><a href="/">Home</a></li>
                                <li>Contact</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Contact Map -->

<div class="contact_map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.751440213499!2d32.62869081393874!3d0.3317494640946611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177db90c01e86f51%3A0x8b9d5ec66e0fceb2!2sChrist%20Disciples%20Church%20(CDC)!5e0!3m2!1sen!2sug!4v1586886556714!5m2!1sen!2sug"
            width="1700" height="1000" frameborder="0" style="a:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    <!-- Google Map -->
</div>

<!-- Contact Info -->

<div class="contact_info">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="contact_title">Contact Info</div>
            </div>
        </div>
        <br>
        <div class="row contact_info_row row-eq-height">

            <!-- Contact Info Content -->
            <div class="col-lg-6 d-flex flex-column align-items-start justify-content-end">
                <div class="row">
                    <div class="col-lg-12 contact_info_col">
                        <div class="contact_info_title">Christ Disciples Church Uganda (CDC)</div>
                        <ul class="contact_info_list">
                            <li><span>Address: </span>Lugabe Road</li>
                            <li class="footer_contact_phone">
                                <span>Phone: </span>
                                <div>
                                    <div> *******************</div>
                                    <div> *******************</div>
                                </div>
                            </li>
                            <li><span>Email: </span>yourmail@example.com</li>
                        </ul>
                    </div>

                </div>
            </div>

            <!-- Contact Info Image -->
            <div class="col-lg-6">
                <div class="contact_info_image"><img src="{% static 'website/images/contact_image.jpg' %}" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Form -->

<div class="contact_form_section">
    <div class="container">
        {% if names %}

        <center>
            <h2>Thanks {{ names }}!</h2>
            <p>We received your email and will respond shortly.....</p>
            <br>
        </center>
        {% else %}
        <div class="row">
            <div class="col">
                <div class="contact_title">Contact Us</div>
                <form action="contact" class="contact_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="contact_input contacts_input_name" name="names"
                                   placeholder="Your Name"
                                   required="required">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="contact_input contact_input_email" name="from-email"
                                   placeholder="Your E-mail"
                                   required="required">
                        </div>
                    </div>

                    <textarea id="contact_text_area" placeholder="Your Message" name="message"
                              class="contact_text"></textarea>
                    <button class="contact_button trans_200">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    {% endif %}

</div>
{% endblock %}